@model EntityLayer.Concrete.Islemler
@{
    ViewData["Title"] = "CreateAndUpdate";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h1>@(Model.UrunID == 0 ? "Yeni İşlem Ekle" : "İşlemi Güncelle")</h1>

<form method="post">
    <input type="hidden" asp-for="MusteriID" />
    <input type="hidden" asp-for="Tarih" />
    <input type="hidden" asp-for="Satis" />
    <input type="hidden" asp-for="ToplamFiyat" />
    <label>Ürün ID</label>
    <input type="text" asp-for="UrunID" class="form-control" />

    <label>Ürün Adeti</label>
    <input type="text" asp-for="Adet" class="form-control" />
    <span asp-validation-for="Adet" class="text-danger"></span>
    <button class="btn btn-primary">Kaydet</button>
</form>

