<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Urunler/Index" aria-expanded="false">
                   <span class="nav-text">Urunler</span>
                </a>
            </li>
            <li>
                <a href="/Musteriler/Index" aria-expanded="false">
                    </i><span class="nav-text">Musteriler</span>
                </a>
            </li>
            <li>
                <a href="/Kisiler/Index" aria-expanded="false">
                    <span class="nav-text">Kisiler</span>
                </a>
            </li>
            <li>
                <a href="/Islemler/Index" aria-expanded="false">
                    </i><span class="nav-text">Islemler</span>
                </a>
            </li>
        </ul>
    </div>
</div>