@model EntityLayer.Concrete.Class.Musteriler
@{
    ViewData["Title"] = "CreateAndUpdate";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<h1>@(Model.MusteriID == 0 ? "Yeni Müşteri Ekle" : "Müşteriyi Güncelle")</h1>

<form method="post" id="form">
    @if (Model.MusteriID != 0)
    {
        <input type="hidden" asp-for="MusteriID" class="form-control" value="@Model.MusteriID" />
    }
    <label>Müşteri Adı</label>
    <input type="text" asp-for="MusteriAdi" class="form-control" value="@(Model.MusteriAdi)" />
    <span asp-validation-for="MusteriAdi" class="text-danger"></span>
    <label>Müşteri Soyadı</label>
    <input type="text" asp-for="MusteriSoyadi" class="form-control" value="@(Model.MusteriSoyadi)" />
    <span asp-validation-for="MusteriSoyadi" class="text-danger"></span>
    <button class="btn btn-primary">Kaydet</button>
</form>
