@{
    ViewData["Title"] = "Ürün Listesi";
    Layout = "~/Views/Layoutt/Index.cshtml"; ;
}
<div>
    <button class="btn btn-success" onclick="loadModal(0)">Marka Ekle</button>
</div>
<div class="grid-container card shadow-sm p-3 mb-4 bg-white rounded">
    <table id="grid" class="table table-striped"></table>
    <div id="pager"></div>
</div>
@Html.Partial("DynamicModal")

@section Scripts{
    <script>
        jQuery('#grid').jqGrid({
            url: '/UrunOzellik/GetItems',
            datatype: 'json',
            postData: {
                type: 'marka'
            },
            mtype: 'GET',
            colNames: ['Ad', 'İşlemler'],
            colModel: [
                { name: 'ad', index: 'ad', editable: true, align: 'center' },
                { name: 'islemler', formatter: ButtonFormatter, editable: true },
            ],
            pager: jQuery('#pager'),
            rowNum: 10,
            rowList: [10, 20, 30, 40],
            height: '100%',
            viewrecords: true,
            caption: 'Depo List',
            emptyrecords: 'No records to display',
            jsonReader: {
                root: "items",
            },
            autowidth: true,
            multiselect: false,
            gridComplete: function () {
                $(".deletebutton").on("click", function () {
                    var id = $(this).data("id");
                    deleteitem(id);
                });
                $(".updatebutton").on("click", function () {
                    var id = $(this).data("id");
                    loadModal(id);
                })
            }
        });

        function ButtonFormatter(cellvalue, options, rowObject) {
            return `<div style="display: flex; justify-content: center; gap: 5px;">
                            <button id="deletebutton" class="deletebutton btn btn-danger" data-id="${rowObject.id}">Sil</button>
                            <button class="updatebutton btn btn-primary" data-id="${rowObject.id}">Düzenle</button>
                            </div>`;
        }

        function loadModal(id) {
            $.ajax({
                url: '/UrunOzellik/FormPartial',
                type: 'GET',
                data: { id: id, type: "marka" },
                success: function (response) {
                    $("#modalContent").html(response);
                    $("#dynamicModal").modal("show");
                },
                error: function () {
                    $.gritter.add({
                        title: 'Hata',
                        text: 'Sunucu ile iletişim kurulurken bir hata oluştu',
                        class_name: 'gritter-error'
                    });
                }
            });
        }

        function deleteitem(id) {
            bootbox.confirm({
                message: "Bu markayı silmek istediğinize emin misiniz?",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Hayır',
                        result: false
                    },
                    confirm: {
                        label: '<i class="fa fa-check"></i> Evet',
                        result: true
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            url: '/UrunOzellik/DeleteItem',
                            type: 'POST',
                            data: { id: id },
                            success: function (response) {
                                if (response.success) {
                                    $.gritter.add({
                                        title: 'Başarılı',
                                        text: 'Depo başarıyla silindi',
                                        class_name: 'gritter-success'
                                    });
                                    jQuery('#grid').trigger('reloadGrid');
                                } else {
                                    $.gritter.add({
                                        title: 'Hata',
                                        text: response.message || 'Depo silinirken bir hata oluştu',
                                        class_name: 'gritter-error'
                                    });
                                }
                            },
                            error: function (xhr, status, error) {
                                $.gritter.add({
                                    title: 'Hata',
                                    text: 'Sunucu ile iletişim kurulurken bir hata oluştu',
                                    class_name: 'gritter-error'
                                });
                            }
                        });
                    }
                }
            });
        }
    </script>
}