<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Furkan</td>
            <td>Şahin</td>
        </tr>
    </tbody>
</table>